body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.png) no-repeat center / cover;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 5px 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo img {
  width: 50px;
}

.menu-body {
  flex: 1 1 auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

li {
  list-style: none;
  font-size: 18px;
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease 0;
}

li:hover {
  color: yellow;
  font-size: 20px;
}

.icon-menu {
  display: none;
}

.menu-link {
  list-style: none;
  font-size: 18px;
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease 0;
  text-decoration: none;
}

.menu-link:hover {
  color: yellow;
  font-size: 20px;
}